Repository luncliff/vcpkg-registry, pull requests merged in 2022-06, with the labels that each got.

#47 [tensorflow-lite] support flatbuffers 2.0.x
  azure-pipelines.yml
  ports/tensorflow-lite/fix-cmake-gpu.patch
  ports/tensorflow-lite/fix-cmake.patch
  ports/tensorflow-lite/fix-source.patch
  ports/tensorflow-lite/portfile.cmake
  ports/tensorflow-lite/vcpkg.json
  triplets/arm-android.cmake
  triplets/arm64-android.cmake
  triplets/x64-android.cmake
  triplets/x64-linux.cmake
  versions/baseline.json
  versions/t-/tensorflow-lite.json
Labels: port, triplet, azure-pipelines

#49 [tensorflow-lite] Support ios triplets
  azure-pipelines.yml
  ports/tensorflow-lite/fix-cmake-ios.patch
  ports/tensorflow-lite/portfile.cmake
  ports/tensorflow-lite/vcpkg.json
  versions/baseline.json
  versions/t-/tensorflow-lite.json
Labels: port

#50 CI: Fix Android failure
  azure-pipelines.yml
  ports/eigen3/fix-vectorized-reductions-half.patch
  ports/eigen3/portfile.cmake
  ports/eigen3/remove_configure_checks.patch
  ports/eigen3/vcpkg.json
  versions/baseline.json
  versions/e-/eigen3.json
Labels: port, azure-pipelines, bug

#53 Add android-x86 triplet
  triplets/x86-android.cmake
Labels: triplet

#51 [tensorflow-lite] fix android link errors
  ports/tensorflow-lite/fix-cmake-android.patch
  ports/tensorflow-lite/portfile.cmake
  ports/tensorflow-lite/vcpkg.json
  triplets/x86-android.cmake
  versions/baseline.json
  versions/t-/tensorflow-lite.json
Labels: port

#55 [zlib-ng] update to 2.0.6
  ports/zlib-ng/portfile.cmake
  ports/zlib-ng/vcpkg.json
  versions/baseline.json
  versions/z-/zlib-ng.json
Labels: port

#56 [openssl3] update to 3.0.4
  ports/openssl3/portfile.cmake
  ports/openssl3/vcpkg.json
  versions/baseline.json
  versions/o-/openssl3.json
Labels: port

#57 [tensorflow-lite] update to 2.9.1
  ports/tensorflow-lite/fix-cmake-gpu.patch
  ports/tensorflow-lite/fix-cmake.patch
  ports/tensorflow-lite/fix-source.patch
  ports/tensorflow-lite/portfile.cmake
  ports/tensorflow-lite/vcpkg.json
  versions/baseline.json
  versions/t-/tensorflow-lite.json
Labels: port
