Repository luncliff/vcpkg-registry, pull requests merged in 2024-02, with the labels that each got.

#165 Patch onnxruntime to compile with clang-cl
  ports/onnxruntime/fix-clang-cl-simd-compile.patch
  ports/onnxruntime/fix-llvm-rc-unicode.patch
  ports/onnxruntime/portfile.cmake
  ports/onnxruntime/vcpkg.json
  versions/baseline.json
  versions/o-/onnxruntime.json
Labels: platform: windows

#167 [opecl,opencl-headers] Create OpenCL ports from KhronosGroup repos
  ports/opencl-headers/portfile.cmake
  ports/opencl-headers/vcpkg.json
  ports/opencl/portfile.cmake
  ports/opencl/vcpkg.json
  test/vcpkg.json
  versions/baseline.json
  versions/o-/opencl-headers.json
  versions/o-/opencl.json
Labels: platform: windows, platform: linux

#168 [opencl-on-dx12] Create a new port
  .gitignore
  ports/opencl-on-dx12/fix-vcpkg.patch
  ports/opencl-on-dx12/portfile.cmake
  ports/opencl-on-dx12/vcpkg.json
  test/vcpkg.json
Labels: platform: windows

#174 [directml] Update to 1.13.1
  ports/directml/portfile.cmake
  ports/directml/vcpkg.json
  test/azure-port-arm64-windows.txt
  versions/baseline.json
  versions/d-/directml.json
Labels: platform: windows

#176 CI: Build ports with CircleCI Linux VM, Use vcpkg 2024.02.14
  .circleci/config.yml
  .circleci/port-linux.txt
  .circleci/port-setup.txt
  .github/workflows/build-macos.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows-cuda.yml
  .github/workflows/build-windows.yml
  azure-pipelines.yml
  test/self-hosted-cuda.json
Labels: ci: Azure Pipelines, ci: CircleCI, ci: GitHub Actions

#173 [onnxruntime] Update to v1.17.0
  .circleci/config.yml
  .circleci/port-linux.txt
  .github/workflows/build-macos.yml
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
  ports/onnxruntime/fix-cmake.patch
  ports/onnxruntime/onnxruntime_vcpkg_deps.cmake
  ports/onnxruntime/portfile.cmake
  ports/onnxruntime/vcpkg.json
  test/azure-port-arm64-windows.txt
  test/azure-port-osx.txt
  test/vcpkg.json
  versions/baseline.json
  versions/o-/onnxruntime.json
Labels: ci: GitHub Actions

#177 [coreml-tools] Update to 7.1
  ports/coreml-tools/fix-cmake.patch
  ports/coreml-tools/fix-sources.patch
  ports/coreml-tools/portfile.cmake
  ports/coreml-tools/vcpkg.json
  test/azure-port-ios.txt
  versions/baseline.json
  versions/c-/coreml-tools.json
Labels: platform: apple

#180 [pthreadpool] Update to 2024-01-22
  azure-pipelines.yml
  ports/pthreadpool/fix-cmake-uwp.patch
  ports/pthreadpool/fix-cmake.patch
  ports/pthreadpool/portfile.cmake
  ports/pthreadpool/vcpkg.json
  versions/baseline.json
  versions/p-/pthreadpool.json
Labels: ci: Azure Pipelines, platform: android
